{% import '_includes/forms' as forms %}

{% set allowedSites = create('vaersaagod\\transmate\\helpers\\TranslateHelper').userCanTranslateElementToSites(entry) %}

{% if allowedSites|length > 1 %}
    <fieldset data-transmate-sidebar>
        <legend class="h6">{{ 'Translate'|t('transmate') }}</legend>
        <div class="meta">

            {% set siteOptions = {} %}
            {% for site in allowedSites %}
                {% if site.id != entry.siteId %}
                    {% set siteOptions = siteOptions|merge({ (site.handle): site.name }) %}
                {% endif %}
            {% endfor %}

            <div class="flex flex-col gap-l items-start" style="padding: 20px 0;">
                {% if entry.id != entry.canonicalId %}
                    <div><p>Warning: revision changes will apply on top of the translated Entry</p></div>
                {% endif %}

                <div class="">
                    {{ include('_includes/forms/select.twig', {
                        name: 'translateType',
                        options: {
                            'translateFrom': 'Translate from',
                            'translateTo': 'Translate to'
                        }
                    }) }}
                </div>

                <div data-translate-options="translateFrom">
                    {{ include('_includes/forms/select.twig', {
                        name: 'translateFromSite',
                        options: { none: 'Select site...',  ...siteOptions},
                    }) }}
                </div>

                <div class="flex flex-col gap-l items-start" data-translate-options="translateTo" style="display: none;">
                    <div>
                        {{ include('_includes/forms/checkboxGroup.twig', {
                            name: 'translateToSites',
                            options: siteOptions,
                        }) }}
                    </div>
                    <div class="">
                        {{ include('_includes/forms/checkbox.twig', {
                            name: 'saveAsDraft',
                            checkboxLabel: 'Save translated entry as draft'|t('transmate'),
                            checked: pluginSettings.saveMode == 'draft'
                        }) }}
                    </div>
                </div>

                <div>
                    {{ forms.button({
                        label: 'Translate'|t('transmate'),
                        icon: 'language',
                        spinner: true,
                        class: 'icon submit disabled',
                        attributes: {
                            'data-transmate-sidebar-submit': '',
                            'data-icon': 'language',
                            'data-entry-id': entry.canonicalId,
                            'data-entry-site-id': entry.siteId,
                            'disabled': 'disabled'
                        }
                    }) }}
                </div>
            </div>
        </div>
    </fieldset>
{% endif %}
